{% extends "base.html.twig" %}

{% block title %}Ny giv{% endblock %}

{% block body %}
{% include 'card/card_template.html.twig' %}
    <section class="columns center">
        <h2>Ny giv</h2>
        <form method="post" action="{{ path('card_deck_deal_process') }}">
            <table>
                <tr>
                    <th class="left">Spelare</th>
                    <td><input type="number" min="1" name="players" value="{{ players }}"></td>
                </tr>
                <tr>
                    <th class="left">Kort</th>
                    <td><input type="number" min="1" name="cards" value="{{ cards }}"></td>
                </tr>
            </table>
            <button type="submit">Dela</button>
        </form>
        {% if players %}
        {% for player, hand in hands %}
        <figure>
            <figcaption>Spelare {{ player }}</figcaption>
            {% for card in hand.hand %}
            <span><img src="{{ asset('build/images/cards/'~card.value~'.svg') }}" width="100" alt="{{ app.session.get('deck_values')[card.value] }}" title="{{ app.session.get('deck_text_values')[card.value] }}"></span>
            {% endfor %}
        </figure>
        {% endfor %}
        <br>
        <p>Kort kvar i lek: {{ remaining }}</p>
        {% endif %}
    </section>
{% endblock %}
