<section class="center">
{% for message in app.flashes('notice') %}
                <p class="flash-notice">{{ message }}</p>
{% endfor %}
                <ul class="inline">
                    <li><a href="{{ path('library') }}">Bibliotek</a></li> |
                    <li><a href="{{ path('library_view') }}">Böcker</a> |</li>
                    <li><a href="{{ path('library_reset') }}">Återställ</a></li>
                    <!-- li><a href="{{ path('card_deck_shuffle') }}">Blanda lek</a> |</li>
                    <li><a href="{{ path('card_deck_draw') }}">Dra kort</a> |</li>
                    <li><a href="{{ path('card_deck_draw_deal_players') }}">Dela kort</a> |</li>
                    <li><a href="{{ path('card_deck_reset') }}">Återställ</a></li -->
                </ul>
            </section>
