{% extends "base.html.twig" %}

{% block title %}Bibliotek{% endblock %}

{% block body %}
{% include 'book/library_template.html.twig' %}
    <section class="center">
        <table class="left">
            <tr>
                <th>ID</th>
                <th>Titel</th>
                <th>Författare</th>
                <th>ISBN-13</th>
                <th>Omslag</th>
            </tr>
            {% for book in books %}
            <tr>
                <td>{{ book.getId }}</td>
                <td>{{ book.getTitle }}</td>
                <td>{{ book.getAuthor }}</td>
                <td>{{ book.getIsbn }}</td>
                {% if book.getImage %}
                <td><img src="{{ asset('build/images/books/'~book.getImage~'-s.avif') }}" width="50" alt="{{ book.getTitle }}"></td>
                {% else %}
                <td><img src="{{ asset('build/images/books/placeholder-s.avif') }}" width="50" alt="{{ book.getTitle }}"></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
