{% extends "base.html.twig" %}

{% block title %}Api:n{% endblock %}

{% block body %}
    <section class="center">
        <h1>Tillgängliga API:n</h1>
        <table class="left striped">
            <tbody>
                <tr>
                    <th>Citat</th>
                    <td><button type="button"><a href="{{ path('quotation') }}">Slumpa citat.</a></button></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>Kortlek</th>
                    <td><button type="button"><a href="{{ path('api_deck') }}">Visa ordnad kortlek</a></button></td>
                </tr>
                <tr>
                    <th>Blanda kortlek</th>
                    <td><form method="post" action="{{ path('api_deck_shuffle') }}">
                        <button type="submit">Visa blandad kortlek</button>
                    </form>
                    </td>
                </tr>
                <tr>
                    <th>Dra ett kort ur leken</th>
                    <td><form method="post" action="{{ path('api_deck_draw') }}">
                        <button type="submit">Dra kort</button>
                    </form>
                    </td>
                </tr>
                <tr>
                    <th>Dra flera kort</th>
                    <td><form method="post" action="{{ path('api_deck_draw_number_post', {'number': 5}) }}">
                        <input type="number" min="1" name="number" value="5">
                        <button type="submit">Dra kort</button>
                    </form>
                    </td>
                </tr>
                <tr>
                    <th>Dela kort till spelare</th>
                    <td>
                        <form method="post" action="{{ path('api_deck_deal_players_cards_post', {'players': 3, 'cards': 5}) }}">
                            Spelare
                            <input type="number" min="1" name="players" value="3">
                            Kort
                            <input type="number" min="1" name="cards" value="5">
                            <button type="submit">Dela kort</button>
                        </form>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>Kortspelet 21</a></th>
                    <td><button type="button"><a href="{{ path('api_game') }}">Aktuell ställning</a></button></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>Bibliotek</a></th>
                    <td><button type="button"><a href="{{ path('api_library_books') }}">Visa böcker</a></button></td>
                </tr>
                <tr>
                    <th>ISBN: Visa bok</th>
                    <td><button type="button"><a href="{{ path('api_library_book_isbn', {'isbn': '9782876837539'}) }}">9782876837539</a></button> <button type="button"><a href="{{ path('api_library_book_isbn', {'isbn': '9780380807345'}) }}">9780380807345</a></button> <button type="button"><a href="{{ path('api_library_book_isbn', {'isbn': '9781111111111'}) }}">❌ 9781111111111</a></button></td>
                </tr>
            </tbody>
        </table>
        <figure>
            <img src="{{ asset('build/images/chihiro-api.avif') }}" width="896" alt="Chihiro">
            <figcaption>@mos fastnar i en loop.</figcaption>
        </figure>
    </section>
{% endblock %}
