<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="An MVC app.">
        <title>{% block title %}MVC{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}">
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
    </head>
    <body>
        <header>
            <nav id="navbar">
                <ul>
                    <li><a href="{{ path('home') }}">Hem</a> 路</li>
                    <li><a href="{{ path('about') }}">Om</a> 路</li>
                    <li><a href="{{ path('report') }}">Rapport</a> </li>
                    <li><a href="{{ path('proj') }}">Projekt</a> </li>
                    <li><a href="{{ path('lucky') }}">Tur</a> 路</li>
                    <li><a href="{{ path('library') }}">Bibliotek</a></li>
                </ul>
                <ul>
                    <li><a href="{{ path('card') }}">Kort</a> 路</li>
                    <li><a href="{{ path('game') }}">21</a> </li>
                    <li><a href="{{ path('api') }}">API:n</a> 路</li>
                    <li><a href="{{ path('metrics') }}">Metrik</a> </li>
                    <li><a href="{{ path('session') }}">Session</a><li>
                </ul>
            </nav>
        </header>
        <main class="main">
            {% block body %}{% endblock %}
        </main>
        <footer>
            <p><a href="https://dougherty-dev.github.io/webapp-lager/">Webapp</a>&nbsp;|
                <a href="https://www.student.bth.se/~nido24/dbwebb-kurser/mvc/me/report/public/">MVC</a>&nbsp;|
                <a href="https://www.student.bth.se/~nido24/dbwebb-kurser/oopython/me/kmom06/yahtzee5/app.cgi">OOPython</a>
                (<a href="https://www.student.bth.se/~nido24/dbwebb-kurser/oopython/me/kmom10/spellchecker/app.cgi/">projekt</a>)&nbsp;|
                <a href="https://www.student.bth.se/~nido24/dbwebb-kurser/databas/me/redovisa/me.php">DB</a>&nbsp;|
                <a href="https://www.student.bth.se/~nido24/dbwebb-kurser/js/me/public/">JS</a>&nbsp;|
                <a href="https://www.student.bth.se/~nido24/dbwebb-kurser/design/me/portfolio/">Design</a>
                (<a href="https://www.student.bth.se/~nido24/dbwebb-kurser/design/me/kmom10/">projekt</a>)&nbsp;|
                <a href="https://www.student.bth.se/~nido24/dbwebb-kurser/webtec/me/report/public/me.php">Webtec</a>
                (<a href="https://www.student.bth.se/~nido24/dbwebb-kurser/webtec/me/proj/public/home.php">projekt</a>)</p>
            <p>漏 2025 <span style="color: var(--beige);">nido24</span></p>
        </footer>
    </body>
</html>
