{% extends "base.html.twig" %}

{% block title %}Dra kort{% endblock %}

{% block body %}
{% include 'card_template.html.twig' %}
    <section class="columns center">
        <h2>Dra kort från lek</h2>
        <form method="post" action="{{ path('draw_number_post') }}">
            <input type="number" min="1" name="number" value="{{ number }}">
            <button type="submit">Dra</button>
        </form>
        {% for card in hand.hand %}
        <img src="{{ asset('build/images/cards/'~card.value~'.svg') }}" width="100" alt="{{ app.session.get('deck_values')[card.value] }}" title="{{ app.session.get('deck_text_values')[card.value] }}">
        {% endfor %}
        <p>Kort kvar i lek: {{ remaining }}</p>
    </section>
{% endblock %}
