{% extends "base.html.twig" %}

{% block title %}Rapport{% endblock %}

{% block body %}
    <select id="kmom" aria-label="kmom" onChange="window.document.location.href=this.options[this.selectedIndex].value;">
        <option value="#navbar">topp</option>
        <option value="#kmom01">km01</option>
        <option value="#kmom02">km02</option>
        <option value="#kmom03">km03</option>
        <option value="#kmom04">km04</option>
        <option value="#kmom05">km05</option>
        <option value="#kmom06">km06</option>
        <option value="#kmom10">km10</option>
    </select>
    <h1>Rapport</h1>
    <section class="two-columns" id="kmom10">
        <h2>Kmom10</h2>
        <h3>1–3. Webbplats</h3>
        <p class="initcap">För slutprojektet har valts en tillämpning av kortspelet Texas Hold’em. För ändamålet har en klar avgränsning gjorts från tidigare kursmoment genom att lägga till en ny entrypoint «project» i webpacks konfigurationsfil, varvid en separat sajt med skilda stilmallar kan byggas. Klichén har att poker renderas i gröna färger, men temat på den kulören är redan upptaget i den ordinarie utformningen i Ghibli-stil. Istället valdes en stark kontrast i blå, lila, rosa och rött, ett skarpt tema som faktiskt passar utmärkt för verksamheten. Ytterligare relief ges av en antikva (Bembo) som typsnitt i motsättning till den tidigare linjären (Poppins).</p>
        <p>Huvud och fot har bantats ned betänkligt för att ge plats åt pokerbordet, samtidigt som en unik navigeringslist har implementerats. Referens till huvudsajten ges av en hem-ikon (🏠) i hörnet. Själva innehållet består av en frontsida med regelbeskrivning för och en länk till spelet, samt en om-sida som beskriver projektet i korthet. Repo, PHPDoc med mera följer tidigare mönster, och erbjuder inget nytt.</p>
        <figure>
            <img src="{{ asset('build/images/poker/texas.avif') }}" width="1500" alt="Texas Hold’em">
        </figure>
        <h3>4. JSON-API</h3>
        <p>I likhet med tidigare API:n för kortspelet 21 ges här några motsvarigheter för Texas Hold’em. Bland annat ges åtkomst till aktuell ställning i spelet, med öppna kort för varje spelare och samtliga övriga data i en ganska komplex struktur, även omfattande aktuell kortlek och kastade kort. En enklare variant är att välja en enskild spelares aktuella hand i klarvy samt övriga data. Ytterligare en rutt visar samtliga möjliga kombinationer givet en spelares hand om två kort samt bordets fem kort i slutspelet, inalles 21 kombinationer plus vinnande hand.</p>
        <p>En variant på temat ges av att avslöja vinnaren i slutspelet alldeles innan showdown. Därtill kommer två rutter som behandlar kodning och avkodning av de hexkoder som nyttjas för att jämföra händers styrka. Givet att svit är irrelevant och det finns fjorton kortvalörer är hexadecimal representation lämplig för att i fallande ordning representera handens styrka, från dess 8 typer (färgstege, fyrtal o.s.v.) i första positionen och maximalt två höga kort i de två efterföljande, till maximalt fyra kickers i fallande ordning i slutpositionerna. Det är en entydig ordning, och kan därför kompareras alfanumeriskt.</p>
        <h3>5. ORM</h3>
        <p>Tidigare kortspel nyttjade sessionen för kommunikation mellan back- och frontend, men här nyttjas istället en databas för en mer beständig form. Man kan alltså växla browser och enhet för att fortsätta med spelet, i vad som är ett embryo till en mer avancerad lösning med konton och flera spel. Doctrines system nyttjades för att skapa två enkla tabeller <code>community</code> och <code>player</code>, där den förra håller variabler kring spelet och aktuell runda, och den senare lagrar motsvarande data för varje enskild spelare. Några kopplingar ges inte i denna tillämpning, inte heller procedurer. Även en tabell <code>log</code> har skapats, men den är för närvarande inte i bruk – det skulle öka komplexiteten och ta för mycket tid i anspråk att implementera <code>LoggerInterface</code> inom den givna ramen.</p>
        <p>Repon och entiteter måste därefter kopplas till motsvarande modeller, eftersom databaser till skillnad från sessionen inte kan hantera PHP-specifika klasser. Här sker typiskt en konvertering till och från enkla arrayer, som i och för sig är objekt men inte av den typ vi önskar. Hanteringen ökar komplexiteten en del, men underlättar i andra avseenden samt ger en mer robust form. Se en mer <a class="pagelink" href="{{ path('proj_about_database') }}">utförlig beskrivning</a> på separat sida.</p>
        <h3>6. Avancerade features</h3>
        <p>Följande utmaningar kan noteras med projektet, samtliga relaterade till kortspelets betydligt högre komplexitet.</p>
        <ol type="i">
            <li>
            <strong>Dels</strong> att forma ett plastiskt pokerbord i CSS så att spelet – i vart fall i princip – kan spelas även på den minsta tänkbara enhet. Knappar för croupier och mörkar samt ikoner för spelare måste flyta med och skalas korrekt i takt med att bordet förändrar dimensioner, och på samma sätt måste händer med kort ligga fast tillsammans med insatser. Här nyttjades främst <code>grid</code> i <code>grid</code> med namngivna areor för att definiera upp bordet.</li>
            <li><strong>Dels</strong> att implementera den omfattande logik som präglar spelet, under samtidigt beaktande av att hålla klasserna små, rena och fria från komplexitet. Komposition (framför arv) med beroendeinjektion har nyttjats flitigt för att åstadkomma kod med ganska hög grad av återanvändning. Exempelvis är det bara petitesser som skiljer budgivningen åt under en runda (preflop, flop, turn, river), varför en och samma huvudslinga kan nyttjas för ändamålet. Närmare sjuttio klasser och enumerationer har ändå definierats för spelet, där de senare spelar en framträdande roll i att gestalta spelets strukturer i allt från kortlek till speltillstånd.</li>
            <li><strong>Dels</strong> att ta fram en mekanism för poängberäkning för alla möjliga händer givet fem plus två kort. Här hamnar vi inom ramen för kombinatorik, vilket vi tekniska matematiker kanske behärskar, men som för flertalet är svårbegriplig materia. Specifikt genererar vi den så kallade <em>potensmängden</em> av alla kombinationer av sju kort (7²), och filtrerar därefter på vektorer med fem unika element. Dessa utgörs av sju över fem element, eller 21 unika händer. Dessa 21 vektorer nyttjas vidare för att ta fram en hexadecimalsträng om sju positioner med maximal storlek.<br><br>
            Hexsträngen, på format <code>H160dc80</code>, indikerar i position 0 ett betydelselöst inledande H för att i förekommande fall undvika förväxling med heltal, och i position 1 en numerisk representation av möjliga händer, nämligen:<br><br>
            <ol start="0">
                <li>högt kort</li>
                <li>par</li>
                <li>tvåpar</li>
                <li>triss</li>
                <li>stege</li>
                <li>färg</li>
                <li>kåk</li>
                <li>fyrtal</li>
                <li>färgstege</li>
            </ol>
            Positioner 2–3 representerar högt kort, exempelvis vid par eller tvåpar. Resterande fyra positioner är så kallade kickers, vars inbördes värde i rangordning avgör vid lika ställning i övrigt. Denna hexadecimala representation kan direkt jämföras alfanumeriskt. Strängen <code>H160dc80</code> betyder därmed ett par med sexor höga samt med kung (d), dam (c) och 8 som kickers.</li>
            <li><strong>Dels</strong> att jämka samman databas med modeller samt skyffla relevanta data fram och tillbaka. I retrospektiv hade ett bättre namngivningsschema varit önskvärt, så att man inte ständigt förväxlar <code>players</code> och <code>community</code> för respektive modell. Utrymmet för optimering är gott i allmänhet, och i synnerhet i fråga om att styra upp databashanteringen, men det ligger nog utanför de marginaler som definieras av projektet.</li>
            <li><strong>Dels</strong> att hålla ned ett växande antal klasser i storlek och komplexitet för att tillfredsställa Scrutinizer och PhpMetrics, ett förfarande som dessutom gör testningen mer omständlig. Den komplexa logiken är även i detta avseende en utmaning. Icke desto mindre nås en tillfredställande lösning, med idel grön representation och nära nog fullständig täckning. Hundra procent går inte längre att uppnå för detta mer komplicerade tillståndsberoende system.</li>
        </ol>
        <table>
            <tr>
                <td width="50%">
                    <figure>
                        <img src="{{ asset('build/images/maintainability.avif') }}" width="1500" alt="PhpMetrics">
                    </figure>
                </td>
                <td>
                    <table>
                        <tr>
                            <td style="text-align: left;">
                                <a href="#" data-url="https://scrutinizer-ci.com/g/dougherty-dev/mvc/badges/quality-score.png?b=main" data-alt="Scrutinizer Code Quality" data-repository-url="https://scrutinizer-ci.com/g/dougherty-dev/mvc/?branch=main"></a>
                            </td>
                            <td style="padding-left:10px;">
                                <a href="https://scrutinizer-ci.com/g/dougherty-dev/mvc/build-status/main"><img src="https://scrutinizer-ci.com/g/dougherty-dev/mvc/badges/quality-score.png?b=main" title="Scrutinizer Code Quality"></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">
                                <a href="#" data-url="https://scrutinizer-ci.com/g/dougherty-dev/mvc/badges/coverage.png?b=main" data-alt="Code Coverage" data-repository-url="https://scrutinizer-ci.com/g/dougherty-dev/mvc/?branch=main"></a>
                            </td>
                            <td style="padding-left:10px;">
                                <a href="https://scrutinizer-ci.com/g/dougherty-dev/mvc/build-status/main"><img src="https://scrutinizer-ci.com/g/dougherty-dev/mvc/badges/coverage.png?b=main" alt="Code Coverage"></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">
                                <a href="#" data-url="https://scrutinizer-ci.com/g/dougherty-dev/mvc/badges/build.png?b=main" data-alt="Build Status" data-repository-url="https://scrutinizer-ci.com/g/dougherty-dev/mvc/build-status/main"></a>
                            </td>
                            <td style="padding-left:10px;">
                                <a href="https://scrutinizer-ci.com/g/dougherty-dev/mvc/build-status/main"><img src="https://scrutinizer-ci.com/g/dougherty-dev/mvc/badges/build.png?b=main" alt="Build Status"></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <h3>Allmänt</h3>
        <p>Projektet är det som har tagit överlägset mest tid i anspråk bland kurser, men det är förstås självförvållat genom att ta på sig en mer utmanande uppgift. Svårigheten och tidsåtgången har framförallt legat i att finna en fungerande lösning för logiken under budgivningen, en process som ideligen har bjudit på motgångar och tidskrävande felsökning. Samtidigt ökar tidsåtgången för övriga ingående delar, som validering och testning i takt med att projektet sväller. Det är ett rimligt projekt för den som har ambitioner, men man kan förmoda att ganska många inte alls skulle gå i land med det.</p>
        <h3>Kursen</h3>
        <p>Överlägset mest intressant och viktigast av kurser som har getts, och kanske den som mest liknar verkligheten för backendutvecklare. Även för den med någon bakgrund i PHP är det en högst relevant kurs, särskilt om man saknar tidigare erfarenhet av ramverk. Men samtidigt är kurserna vid Webtec oerhört mastiga, samtidigt som dokumentationskraven är något överdrivna – inga problem för den som har ordets gåva, pennans skärpa och bakgrund i att författa digra mängder text, men nog ett hinder i största allmänhet för mången annan. Å andra sidan är omfattningen och drillen av vikt för att verkligen lära sig objektorienterad webbprogrammering. Betyg blir 11/10, eller «stabilt och felfritt».</p>
        <figure>
            <img src="{{ asset('build/images/chihiro-kmom10.avif') }}" width="1536" alt="Chihiro spelar Texas Hold’em">
        </figure>
    </section>
    <section class="two-columns" id="kmom06">
        <h2>Kmom06</h2>
        <p class="initcap">Metrik är ämnet för detta kursmoment, vars huvudsakliga <a href="{{ path('metrics') }}">rapport</a> publiceras separat. Tvenne verktyg brukas primärt, varav det ena utgörs av <strong>PhpMetrics</strong>, med en diger ansamling mätmetoder. Första körningen gav sex varningar, varav två utgjordes av svårbegripliga «package violations» och fyra ansågs vara klasser som är «probably bugged» på grund av komplexitetsgraden. Förmodligen är det en rimlig skattning, som ligger i linje med min egen tidigare redovisade ståndpunkt, särskilt avseende poängberäkning i kort- och spelklasserna</p>
        <p>Grafiskt kommer det till uttryck i ett diagram av färgade cirklar i trafikljusets palett, varvid den stora klassen <code>GameActions</code> för «21» är ett rött skynke tillsammans med dess kontrollerklass, tätt följt av <code>HandScore</code> med dess villkorsfyllda rutiner. Det är från början givet var krutet ska läggas, och på så vis fyller instrumentet sin funktion.
        <figure>
            <img src="{{ asset('build/images/phpmetrics-scrutinizer.avif') }}" width="1356" alt="Scrutinizer och PhpMetrics">
        </figure>
        <p>Motsvarande körning med <strong>Scrutinizer</strong> gav som resultat «passed» för «build», 100&nbsp;% för täckning (vilket redan var känt) samt 9.89 för «Scrutinizer». Inte så pjåkigt. Verktyget fann fem problematiska punkter, bland annat outnyttjade variabler (som linten inte upptäckte) jämte en del udda problem, varav två härrör till extern kod. Sex metoder fick betyg B, medan resten samt alla klasser nådde A. Strävan här är förstås den perfekta tian, men i huvudsak är detta moment redan avklarat. Scrutinizer berättar dessutom hur man kan gå till väga för att åtgärda berörda problem.</p>
        <p>Den egna personliga hållningen är att kodkvalitet i någon mening är avgörande för att kunna hålla större system vid god kvalitet och i underhållbarbart skick. <em>Bloat</em> och buggar är ofelbara konsekvenser när man tappar kontrollen över en stor kodmassa, men då är det redan försent, och man måste skriva om kodbasen från början.</p>
        <p>För egen del är PHPStan ett uppskattat verktyg för att hålla ordning på typer och vilka data man skyfflar runt, och den arsenalen har nu vidgats med ytterligare några värdefulla instrument (TIL). Samtidigt måste sägas att det lätt kan bli lite av en fix idé att jaga poäng, tid och resurser som man istället hade kunnat använda på verklig kodning och kreativa lösningar.</p>
        <figure>
            <img src="{{ asset('build/images/chihiro-kmom06.avif') }}" width="1536" alt="Chihiro förbättrar kodens kvalitet">
        </figure>
    </section>
    <section class="two-columns" id="kmom05">
        <h2>Kmom05</h2>
        <p class="initcap">Objekt-relationell mappning (ORM) avhandlas via Doctrine i Symfony, kanske mest för att illustrera ännu ett koncept relaterat till databaser. I själva verket vinner man nog inte så mycket på en dylik abstraktion, eftersom man ändå måste ha detaljkännedom om sina tabeller och komma åt data via SQL-liknande satser. Även i andra modeller har man objektorientering på sista raden i PHP via getters, setters och andra mekanismer. MariaDB? <em>Defeats the purpose.</em></p>
        <p>Till yttermera visso tillkommer onödig abstraktion, exempelvis för att uppdatera tabeller, även om det blir lite mindre kod att hantera. Det är inte troligt att förstahandsvalet faller på ORM i någon som helst tillämpning.</p>
        <p>Givet databasens litenhet fordrades ändå en hel del arbete för att få funktionaliteten på plats, kanske mest för att få det att passa med Symfonys gränssnitt. Men CRUD är CRUD, om än i annan tappning, och efter en del inledande svårigheter gick det relativt enkelt att bygga biblioteket.</p>
        <p>För ändamålet kopierades konceptet från den tidigare kortleksmodellen, med en inre twigmall omfattande en inre meny för att få ett enhetligt gränssnitt för biblioteket. En centrerad vy med tabeller för boklistor, enskilda böcker och formulär definierar biblioteket, tillsammans med en frontsida. Enskilda detaljvyer har försetts med ytterligare navigering till nästa och föregående objekt.</p>
        <p>Då filuppladdning inte fungerar på studentservern skippas den biten – utöver att det skulle ta ytterligare tid i anspråk – och av det skälet kan bilder inte hanteras i nuvarande version. Man får nöja sig med att ange titel, författare och ISBN för verken, för vilka en generisk bild definieras i förekommande fall. Grundläggande felhantering och kontroller i formulär har implementerats.</p>
        <p>Denna gång har aspekter av testning funnits med från första stund, men det mest komplexa återfinns alltjämt i kontrollklasserna, som här egentligen är de enda klasserna av relevans. För att kunna testa metoder som förändrar databasen nyttjas en fristående testdatabas (angiven i <code>.env.test.local</code>) för att inte förstöra något i den ordinarie databasen. Därmed kan en återställning först göras, på det att exakta data är kända för ID med mera. Alternativet med mockning är inte så givande i denna enkla modell, eftersom metoderna är få.</p>
        <figure>
            <img src="{{ asset('build/images/chihiro-kmom05.avif') }}" width="1536" alt="Chihiro knåpar ORM">
        </figure>
    </section>
    <section class="two-columns" id="kmom04">
        <h2>Kmom04</h2>
        <p class="initcap">Enhetstestning med PHPUnit och Xdebug introduceras, tillsammans med automatisk dokumentation via PHPDoc. Här noteras att verktygen i fråga ligger en generation efter aktuell PHP-version (8.6.4), vilket fordrar en del åtgärder för att slippa onödig felrapportering.</p>
        <p>Själva förfarandet att skriva enhetstester följer samma mall som i Python och andra språk, och bereder inga större svårigheter i grunden. Däremot kan det vara en del arbete att samtidigt få testkoden att samspela med PHPStan och andra linters, samt förstås att formulera tester för en mängd klasser och metoder.</p>
        <p>Hundra procent täckning uppnås förvisso i testerna, men till priset av att någon enstaka funktion fick modifieras och någon läggas till. Specifikt befanns vara nödvändigt att ordna en metod <code>emptyDeck()</code> i klassen <code>Deck</code> för att kunna lägga till enstaka kort i en tom kortlek. Detta för att kunna simulera situationer med given utgång, exempelvis att bank eller spelare vinner eller förlorar med säkerhet. Mockning kunde här inte användas för ändamålet.</p>
        <p>Svårast att testa var inte oväntat mer komplex kod, särskilt kedjad sådan utan returnerade resultat. I metoden för poängberäkning upptäcktes faktiskt en bugg tack vare testningen, vilket visar att den har potential att förbättra kod. Givet att man har testning i bakhuvudet redan i ett tidigt skede kan det hända att man vinnlägger sig om att skriva renare och mindre komplex kod, en erfarenhet man gott kan ta med sig från momentet (TIL).</p>
        <p>Däremot är det osäkert om enhetstestning ger «snyggare» kod. Upplevelsen här är att PHPStan är det primära verktyget för att ordna både logiskt felfri och snygg kod, men det kan hända att testbarheten bidrar en smula.</p>
        <p>Enhetstestning är inte heller ett universalverktyg. Med en hammare ska man inte dra i skruv, och på samma sätt är det föga givande att enhetstesta sådant som controllers i ramverket. Funktionella tester är i regel bättre för sådana klasser, varvid vi <a href="https://symfony.com/doc/current/testing.html#application-tests">nyttjar</a> Symfonys utvidgning <code>WebTestCase</code> för att testa router och i förekommande fall vissa egenskaper som sessionsvariabler.</p>
        <p>Summa summarum nås därmed hundra procent täckning även för controllerklasserna, om än av begränsat värde. Tillsammans med felfri lint via PHPStan och PHPMD föreligger därför förhoppningsvis en någorlunda god kodbas.</p>
        <figure>
            <img src="{{ asset('build/images/chihiro-kmom04.avif') }}" width="1536" alt="Chihiro enhetstestar">
        </figure>
    </section>
    <section class="two-columns" id="kmom03">
        <h2>Kmom03</h2>
        <p class="initcap">Introduktion av PHPStan och PHP Mess Detector gör att kortklasserna i tidigare kursmoment behöver refaktoreras, samtidigt som de vässas med större mått av inkapsling. Detta är hemmaplan, och nu börjar det likna riktig programmering med erforderlig stringens.</p>
        <p>Konstruktion av flödesdiagram, pesudokod och UML-diagram av klasser som angreppsvektor för problemet är en rimlig ansats. På så sätt kan man få en grundläggande struktur för kodbasen, observera repetitiv kod som kan förläggas i metoder samt avslöja en del tankefel kring den mentala konstruktionen av modellen. Därmed inte sagt att man får en fullständig bild av problemkomplext med sådan modellering, men det är en bra början.</p>
        <p>Klassen <code>Banker</code> befanns småningom vara överflödig, eftersom det är en spelare i mängden med samma slags metoder. Ett fält med <code>Player</code> definierar istället de två spelarna, och kan enkelt byggas ut till fler. Här räcker det att hålla koll på respektive spelare med index.</p>
        <p>Mallarna ska vara dumma, men det blir ändå ett antal <code>if</code>-satser för att hålla reda på knappar i olika tillstånd. Den huvudsakliga logiken sker ändå i klasserna, med bara ett fåtal rutter som alla ryms i en enda klass <code>GameController</code>. Mallarna renderas uteslutande med sessionsvariabler.</p>
        <p>Huvudlogiken finns i <code>GameActions</code>, som ärver magiska getters och setters samt konstanter från föräldraklassen <code>Game</code>. Spelarens aktioner styrs av knappar och inmatning i formulär, medan bankens motsvarande flöde automatiseras.</p>
        <p>Svåraste moment är kanske något överraskande metoder för att beräkna poängsumma (klassen <code>HandScore</code>) samt sannolikheter för att bli tjock, där bruket av två jokrar ökar komplexiteten med en ordning.</p>
        <h3>Om MVC</h3>
        <p>MVC som designmönster är väl i sin ordning, men ramverken är ofta alldeles för rigida. Symfony tycks dock lira bra med PHPStan, vilket är en fördel, inte minst i att hantera sessionsvariabler. Med ramverk är det så att man blir ordentligt fastlåst i en viss ordning, en löpande bandsprincip som passar industrin väl men samtidigt missgynnar mer kreativa angreppsmetoder.</p>
        <p>En intressant egenskap med Symfony är stödet för generella getters/setters via magiska metoder <code>__get()</code><code>__isset()</code> och <code>__set()</code>, vilket reducerar kodmassan en del, inte minst antalet publika metoder. Twig kan då hämta privata egenskaper via dessa metoder, utan att man behöver synliggöra dem.</p>
        <p>TIL är nog att nyttja inkapsling bättre i klasserna, inte minst för att så mycket skräp annars skickas runt i komposition och arv. Mycket givande kurs.</p>
        <p>Alla obligatoriska och valfria moment är implementerade per specifikation. Inga fel noteras med PHPStan, PHPMD eller PHP CS Fixer.</p>
        <figure>
            <img src="{{ asset('build/images/chihiro-kmom03.avif') }}" width="1536" alt="Chihiro bekantar sig med magiska metoder">
        </figure>
    </section>
    <section class="two-columns" id="kmom02">
        <h2>Kmom02</h2>
        <p class="initcap">Grunden till ett kortspel implementeras här i objektorienterad PHP under ramverket Symfony och med Twig som motor. Arv, komposition, aggregation, gränssnitt och egenskaper definieras teoretiskt, och ansluter i stort till tidigare stoff i Python.</p>
        <p>Med arv (inheritance) menas här snarare en utvidgning av en föräldraklass till en barnklass, i vilken ytterligare metoder, konstanter och attribut kan definieras. I förekommande fall kan befintliga konstanter och metoder omdefinieras eller öppnas upp mot omvärlden (men inte omvänt).</p>
        <p>Komposition är en klass i en klass, det vill säga klassvis instantiering av en yttre klass. Gränssnitt definierar vi som ett «kontrakt» för en klass, det vill säga en mall för metoder utan specifik implementering, vilket är till nytta för att definiera API:n till brukare.</p>
        <p>Egenskaper (traits) är mer en form av syntaktiskt lim, ofta förekommande kod som kan klistras in efter behag via <code>use</code> och då får en självständig roll i förhållande till den omgivande klassen. Egenskaper kan ofta vara ett alternativ till onödigt krånglig komposition av en miljard klasser.</p>
        <p>För uppgiften i fråga används varken egenskaper eller gränssnitt, men däremot nyttjas arv i ett par instanser. De givna rekommendationerna med kortklasser vidgade med jokrar har här implementerats löst. Men den givna och naturliga implementationen av arv ges här av att nyttja <code>CardController</code> som föräldraklass till <code>CardAPIController</code>, eftersom de båda har gemensamma metoder, konstanter och attribut, exempelvis session, klassen <code>Deck</code> med flera.</p>
        <p>Det är notoriskt krångligt att bygga klasser på ett smidigt sätt, och det finns i princip alltid potential för förbättringar. Klassen <code>Card</code> (eller snarare <code>CardGraphic</code>) är här ganska menlös i förefintligt skick, men skulle säkert kunna byggas mer komplicerat.</p>
        <p>Det lär ta fler kursmoment för att övertyga om ramverkens förträfflighet. Komplexiteten ökar betänkligt utan att ge så stora vinster, även om det har sin tjusning med färdiga lösningar på många vanliga kodproblem. Dessvärre får man lägga en del tid på buggar i själva ramverket snarare än att fokusera på objektorienterad kod i sig.</p>
        <p>Icke desto mindre är det tillfredsställande när man väl kommer över den jobbiga tröskeln och kan börja bygga applikationer. Koden med kontroller, mallar och vyer blir ganska liten och kompakt, även om man är mer begränsad än med rå PHP.</p>
        <p>TIL för kursmomentet får sägas vara sessioner i Symfony och Twig, ett smidigt sätt att hantera objekt till skillnad från PHP:s krångliga motsvarigheter.</p>
        <figure>
            <img src="{{ asset('build/images/chihiro-kmom02.avif') }}" width="1536" alt="Chihiro spelar kort">
        </figure>
    </section>
    <section class="two-columns" id="kmom01">
        <h2>Kmom01</h2>
        <p class="initcap">I rasande tempo introduceras ramverket Symfony, och den församlade skaran studerande har bara att försöka hänga med i störtfloden av ny information. Upplägget är bekant sedan tidigare: att plumsa i havet, gripa tag i någon drivved och försöka överleva. Även om man får en del plankor till skänks att hålla fast vid.</p>
        <p>Kontroller, mallar och vyer införs i diskursen, och så även RESTfulla API:n via JSON. Via Twig kan webbsidor slutligen renderas på någorlunda bekant sätt, och på något vis känns motorn i bakgrunden tämligen överflödig.</p>
        <p>Objektorienterad PHP berörs flyktigt, men mestadels för att beskriva klasser i Symfoni. Frågan är om ren OOP kommer att avhandlas i kursen? Hantering av bilder, CSS och Javascript ombesörjs därefter, varefter resultatet är färdigt att distribuera på server likväl som Github.</p>
        <p>Angående förkunskaper kring objektorienterad kod föreligger sådan i form av Ada och PHP, den senare på ganska god nivå. Klasser och objekt skiljer sig inte nämnvärt från andra språk, men instantiering är mycket smidigare. Den som kommer från Python lär uppfatta vissa diskrepanser, som att PHP inte per default nyttjar referens i funktionsanrop.</p>
        <p>Ramverk är egentligen ett jävla skit, men man kan förstå lockelsen i att snabbt ha en modell färdig att implementera, till priset av att man blir synnerligen låst i sin programmering, och därtill beroende av en stor mängd extern programvara som inte alltid lirar felfritt.</p>
        <p>Det finns i princip inget i <em>PHP The Right Way</em> som är särskilt intressant eller tilltalande. Artikeln är förlegad och därtill väldigt rörig. Särskilt upprörande är att man förespråkar en kodstandard som skiljer sig från PHP:s egna (1TBS, K&amp;R).</p>
        <p>TIL får nog sägas vara att nyttja ramverket Symfony, en erfarenhet som förvisso är nyttig men samtidigt en smula avskräckande. Det är själva definitionen av bloat.</p>
        <figure>
            <img src="{{ asset('build/images/chihiro-kmom01.avif') }}" width="1536" alt="Chihiro introduceras i PHP">
            <figcaption>@mos inskärper allvaret i studierna.</figcaption>
        </figure>
    </section>
{% endblock %}
