<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Texas Hold’em">
        <title>{% block title %}Texas Hold’em No Limit{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}">
{% block stylesheets %}
        {{ encore_entry_link_tags('project') }}
{% endblock %}
{% block javascripts %}
        {{ encore_entry_script_tags('project') }}
{% endblock %}
    </head>
    <body>
        <header>
            <span class="home"><a href="{{ path('home') }}">🏠</a></span>
            <nav id="project-navbar">
                <h2 class="header-text">♠️ Texas Hold’em ♥️</h2>
                <div>
                    <a href="{{ path('proj') }}">projekt</a> |
                    <a href="{{ path('proj_about') }}">om</a> |
                    <a href="{{ path('proj_api') }}">api</a> |
                    <a href="{{ path('proj_poker') }}">poker</a> |
                    <a href="{{ path('proj_reset') }}">nytt</a>
                </div>
            </nav>
        </header>
        <main class="main dojo">
{% block body %}{% endblock %}
        </main>
    </body>
</html>
