{% extends "poker/dojo.html.twig" %}

{% block title %}Texas Hold’em{% endblock %}

{% block body %}
        <section>
            <div class="poker-grid center">
                <div class="player0">
                    <table>
                        <tr>
                            <td>👱🏻‍♀️</td>
                            <td>
                            {%- if players[0].dealer -%}
                                <img class="badge" src="{{ asset('build/images/poker/badge-dealer.avif') }}" width="60" alt="Dealer">
                            {%- endif -%}
                            {%- if players[0].smallBlind -%}
                                <img class="badge" src="{{ asset('build/images/poker/badge-small-blind.avif') }}" width="70" alt="Small Blind">
                            {%- elseif players[0].bigBlind -%}
                                <img class="badge" src="{{ asset('build/images/poker/badge-big-blind.avif') }}" width="70" alt="Big Blind">
                            {%- endif -%}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="player1">
                    <table>
                        <tr>
                            <td>👩🏼‍💻</td>
                        </tr>
                        <tr>
                            <td>
                            {%- if players[1].dealer -%}
                                <img class="badge" src="{{ asset('build/images/poker/badge-dealer.avif') }}" width="60" alt="Dealer">
                            {%- endif -%}
                            {%- if players[1].smallBlind -%}
                                <img class="badge" src="{{ asset('build/images/poker/badge-small-blind.avif') }}" width="70" alt="Small Blind">
                            {%- elseif players[1].bigBlind -%}
                                <img class="badge" src="{{ asset('build/images/poker/badge-big-blind.avif') }}" width="70" alt="Big Blind">
                            {%- endif -%}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="player2">
                    <table>
                        <tr>
                            <td>🧑🏼‍💻</td>
                        </tr>
                        <tr>
                            <td>
                            {%- if players[2].dealer -%}
                                <img class="badge" src="{{ asset('build/images/poker/badge-dealer.avif') }}" width="60" alt="Dealer">
                            {%- endif -%}
                            {%- if players[2].smallBlind -%}
                                <img class="badge" src="{{ asset('build/images/poker/badge-small-blind.avif') }}" width="70" alt="Small Blind">
                            {%- elseif players[2].bigBlind -%}
                                <img class="badge" src="{{ asset('build/images/poker/badge-big-blind.avif') }}" width="70" alt="Big Blind">
                            {%- endif -%}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="grid-action">
                    <table class="action-table">
                        <tr>
                            <td class="action right divider">{{ community.stateText }} {{ community.betorder|join('|') }}</td>
                            <td class="action left">
                                <form method="POST" action="{{ path(action[2]) }}">
                                    {%- if players[0].state.name in ['Bets', 'Calls', 'Raises', "Passes"] and community.betorder[0] is defined and community.betorder[0] == 0 -%}
                                    {%- if community.raises <= 2 -%}
                                    <input type="number" name="bet" min="0" max="{{ community.state.betCost() }}" value="{{ community.state.betCost() }}">
                                    <button type="submit" name="raise">Höj</button>
                                    {%- endif -%}
                                    {%- if players[1].bet > 0 or players[2].bet > 0 -%}
                                    <button type="submit" name="call">Syna</button>
                                    {%- endif -%}
                                    {%- if players[1].bet == 0 and players[2].bet == 0 -%}
                                    <button type="submit" name="check">Passa</button>
                                    {%- endif -%}
                                    <button type="submit" name="fold">Lägg</button>
                                    {%- else -%}
                                    <button type="submit">{{ action[0] }}</button>
                                    {%- endif -%}
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="grid-pot">{{ community.pot }}</div>
                <div class="grid-community">
                    {%- for card in community.hand.hand -%}
                    <img src="{{ asset('build/images/cards/'~card.value~'.svg') }}" width="50" class="poker-card" alt="{{ app.session.get('deckIntValues')[card.value] }}" title="{{ app.session.get('deckTextValues')[card.value] }}">
                    {%- endfor -%}
                </div>
                <div class="grid-player0">
                    <div class="player0-grid">
                        <div class="grid-p0-info">
                            <table class="info-table">
                                <tr>
                                    <td class="chips">{{ players[0].cash }}</td>
                                </tr>
                                <tr>
                                    <td class="statustext">{{ players[0].stateText }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="grid-p0-bet">{{ players[0].bet }}</div>
                        <div class="grid-p0-cards">
                            {%- for card in players[0].hand.hand -%}
                            <img src="{{ asset('build/images/cards/'~card.value~'.svg') }}" width="50" class="poker-card" alt="{{ app.session.get('deckIntValues')[card.value] }}" title="{{ app.session.get('deckTextValues')[card.value] }}">
                            {%- endfor -%}
                        </div>
                    </div>
                </div>
                <div class="grid-player1">
                    <div class="player1-grid">
                        <div class="grid-p1-info">
                            <table class="info-table">
                                <tr>
                                    <td class="chips">{{ players[1].cash }}</td>
                                </tr>
                                <tr>
                                    <td class="statustext">{{ players[1].stateText }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="grid-p1-bet">{{ players[1].bet }}</div>
                        <div class="grid-p1-cards">
                            {%- for card in players[1].hand.hand -%}
                            {%- if community.state.name in ['None', 'NewGame', 'Showdown', 'EndGame'] -%}
                            <img src="{{ asset('build/images/cards/'~card.value~'.svg') }}" width="50" class="poker-card" alt="{{ app.session.get('deckIntValues')[card.value] }}" title="{{ app.session.get('deckTextValues')[card.value] }}">
                            {%- else -%}
                            <img src="{{ asset('build/images/cards/back.svg') }}" width="50" class="poker-card" alt="kort">
                            {%- endif -%}
                            {%- endfor -%}
                        </div>
                    </div>
                </div>
                <div class="grid-player2">
                    <div class="player2-grid">
                        <div class="grid-p2-info">
                            <table class="info-table">
                                <tr>
                                    <td class="chips">{{ players[2].cash }}</td>
                                </tr>
                                <tr>
                                    <td class="statustext">{{ players[2].stateText }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="grid-p2-bet">{{ players[2].bet }}</div>
                        <div class="grid-p2-cards">
                            {%- for card in players[2].hand.hand -%}
                            {%- if community.state.name in ['None', 'NewGame', 'Showdown', 'EndGame'] -%}
                            <img src="{{ asset('build/images/cards/'~card.value~'.svg') }}" width="50" class="poker-card" alt="{{ app.session.get('deckIntValues')[card.value] }}" title="{{ app.session.get('deckTextValues')[card.value] }}">
                            {%- else -%}
                            <img src="{{ asset('build/images/cards/back.svg') }}" width="50" class="poker-card" alt="kort">
                            {%- endif -%}
                            {%- endfor -%}
                        </div>
                    </div>
                </div>
            </div>
        </section>
{{ dump(community) }}
{{ dump(players) }}
{{ dump(action) }}
{% endblock %}
